:root {
  --md-primary-fg-color: #f97316;
  --md-primary-fg-color--light: #fb923c;
  --md-primary-fg-color--dark: #ea580c;

  --md-accent-fg-color: #f97316;
}

.md-header {
  box-shadow: none;
  border-bottom: 1px solid #e5e7eb;
}

.md-tabs {
  border-bottom: 1px solid #e5e7eb;
}

.md-nav__link--active {
  color: #f97316;
  font-weight: 600;
}

.md-typeset a {
  color: #f97316;
}

.md-typeset a:hover {
  color: #ea580c;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}